[2022-01-28 00:26] dtarnawsky opened #1 "Handle when Capacitor CLI is installed and Ionic CLI is not"
Handle when Capacitor CLI is installed and Ionic CLI is not so that Capacitor only projects will work.

[2022-02-03 22:22] dtarnawsky opened #2 "My Wish List"
Here's my personal wish list of items I'd love in the extension:

1. Option to uninstall packages
2. Option to upgrade a package to a particular released version (rather than latest)
3. Option to hide particular recommendations
4. Handle upgrades of @capacitor/core which require upgrading @capacitor/ios and android in unison
5. Detect Capacitor CLI and fallback to it for non-ionic projects
6. Prev

[2022-02-03 23:21] joshuamorony opened #3 "Integrate with @capacitor/configure and project"
This tool looks incredible, great work!

I've only just begun playing with it, but something that strikes me right away is that it would be amazing to have this integrated with the new configure tool - I think Max mentioned he wasn't sure on the best approach to actually executing the configure scripts, perhaps it would be cool to just have buttons under the Capacitor heading to run or edit the co

[2022-02-04 15:31] henkjurriens opened #4 "Hide Serving dialog"
When you use 'Run on Web' the dialog Serving keeps open. Is it possble to hide it?

[2022-02-04 19:29] dtarnawsky commented on #4
Hi Henk,

That's a great suggestion. It isn't possible at the moment but it will be in the next release (0.0.4). Hoping to have this updated and ready for monday.

[2022-02-04 19:36] dtarnawsky commented on #3
Hey Josh,

That's definitely a doable feature. Having Capacitor Configuration visually editable would be great (with [@capacitor-configure](https://github.com/ionic-team/capacitor-configure)).

A User Interface for:

- iOS and Android bundle ids
- Version and build number
- Display name
- Configurations such as Face ID Usage Description etc
- Icon and Splash Screen

[2022-02-04 19:44] henkjurriens commented on #4
👍

Sent from my iPhone

[2022-02-07 14:30] dtarnawsky commented on #4
The "Run on Web" option is now shown on the status bar in v0.0.4. Note: It can be clicked and canceled. There are a few other operations like Sync that will do this now as well.

Other features in 0.0.4:
- When running most tasks the progress dialog should be hidden
- If node_modules folder is not found then recommendation given for npm install
- Speed improvement between operations by caching npm

[2022-02-07 14:30] #4 closed

[2022-02-09 20:37] robingenz opened #5 "Error: `CocoaPods requires your terminal to be using UTF-8 encoding`"
Hey,
first of all: very cool plugin! Kudos to Damian for this great work.
I had one little problem the first time I ran `Sync`.
This was the console output:

[code]
After I added `export LANG=en_US.UTF-8` to `.zshrc` it worked. I still wonder why this was necessary, because it works fine when I enter the command manually in the VSCode terminal.

BTW: I had to restart VSCode afterwards because I ke

[2022-02-09 20:44] robingenz opened #6 "Question: run Ionic CLI commands with `npx`"
Hey,
I noticed the following:
Capacitor CLI commands are executed with `npx` (e.g. `npx cap open android`).
Ionic CLI commands are executed without `npx` (e.g.: `ionic cap run ios -l --external`).

Is there a reason for this?

I would like both to be executed with `npx`.

[2022-02-09 20:49] robingenz opened #7 "Error: `Unable to make field private final java.lang.String java.io.File.path accessible`"
Hi,
I get the following error when I run `Run On Android` after selecting an emulator:

[code]

It works without problems if I first run `Open Android Studio Project` and then select and start the emulator in Android Studio.
It is the same emulator both times.
Please just let me know what other info you need.

I tested it with this project: https://github.com/robingenz/capacitor-plugin-demo

[2022-02-10 01:16] dtarnawsky commented on #3
0.0.0.5 is now released and includes options to display and edit the display name of the app, bundle id, version number and build number.

[2022-02-10 01:16] #3 closed

[2022-02-10 15:07] dtarnawsky commented on #5
Hi @robingenz,

Thanks for the bug report. I've fixed the issue where an error in running an operation causes "`Operation X is already running...`" error. This fix will be in the 0.0.6 release.

The error related CocoaPods is likely caused by your terminal having a different default language other than en_US (or encoding other than UTF-8) and CocoaPods not handling that scenario. To help me reprod

[2022-02-10 15:16] robingenz commented on #5
Hi @dtarnawsky, thank you!

Sure, i reverted everything. This is my output:

[code]

[2022-02-11 00:57] dtarnawsky commented on #5
A similar issue is documented [here](https://github.com/CocoaPods/CocoaPods/issues/9347#issuecomment-559069320) for Flutters VS Code extension.

To attempt to get around this issue when the sync command is run in node (using child_process exec) it is now setting an environment variable for `LANG` of `en_US.UTF-8`. You can [download 0.0.7](https://vs-ionic.netlify.app/) of the extension which conta

[2022-02-11 00:59] dtarnawsky commented on #7
This error seems to be related to having Java 16 installed on your Mac. Is this the case and in your setup do you have a different version of the JDK set for Android Studio / terminal?

[2022-02-11 01:09] dtarnawsky commented on #6
The extension has a dependency on the Ionic cli being installed globally and with that installed can run the `cap` commands via `npx`. I've got a task to have the extension switch to either using Ionic cli only or cap cli only based on the project so once that is done each command will be run the same way.

[2022-02-11 07:44] robingenz commented on #6
The reason why I would like to run the Ionic CLI also with npx is that we have always installed the Ionic CLI in our projects as a dev dependency (e.g. https://github.com/robingenz/capacitor-plugin-demo/blob/4261e4f9e1dec7a852a9a286163cf1e24cbdd0d1/package.json#L64). So we make sure that everyone in the team uses the same CLI version.
If I remember correctly, `npx` looks first in the local project

[2022-02-11 07:54] robingenz commented on #7
Jup, good catch! 😄

[code]

As far as I know, Android Studio comes with its own JDK version.
It would be useful if this version is used by default or at least there is a VSCode setting that can be set to select the path.

[2022-02-11 07:57] robingenz commented on #5
I installed version `0.0.7` and now it works! Great work, thank you!

[2022-02-11 07:57] #5 closed

[2022-02-12 15:29] dtarnawsky commented on #7
This should be fixed in the latest version (0.0.8) available [here](https://vs-ionic.netlify.app/). All tasks run will now use environment variables from the process like JAVA_HOME which should allow the correct version of Java, Gradle etc to be used.

[2022-02-13 18:20] dtarnawsky opened #8 "Support Windows"
Various functionality fails on Windows: the npm outdated command as well ionic start.
The extension should support windows

[2022-02-13 22:39] robingenz commented on #7
Thanks for the update. I tested it and it worked after I exported the `JAVA_HOME` env variable.
I have added the following to my `.zshrc` file:

[code]

Here I would like to mention that I installed Java and Android Studio without any manual adjustments - so just a standard installation. So I suspect that other users will also have to do this manual step.

How about if the path to the JDK was a pl

[2022-02-15 01:36] dtarnawsky commented on #7
Hi Robin,

[0.0.9 is out](https://vs-ionic.netlify.app/) now and has a setting for JAVA_HOME which defaults to the JRE of Android Studio if set rather than the default JAVA_HOME of the node process.

Here's the full list of changes:
- Preview app in VS Code Editor added as an option
- Option to install new packages
- Option to uninstall packages
- Allow JAVA_HOME to be set (to allow building with

[2022-02-15 14:35] robingenz commented on #7
Awesome, thank you! I have just tested it. It now works without my changes in the `.zshrc` file.

[2022-02-15 14:35] #7 closed

[2022-02-17 00:20] dtarnawsky commented on #6
@robingenz [Version 0.0.10](https://vs-ionic.netlify.app/) addresses this issue. All calls are made with npx so that if the ionic or capacitor cli are installed locally they will be called first.

There are plenty of other [features in 0.0.10](https://github.com/ionic-team/vscode-extension/wiki#version-0010)

[2022-02-17 08:02] robingenz commented on #6
Thank you so much @dtarnawsky! 🎉

[2022-02-17 08:02] #6 closed

[2022-02-25 22:01] dtarnawsky commented on #1
Ionic CLI is a requirement (global install or local) as not all Capacitor CLI features allow things like starting a new project etc.

[2022-02-25 22:01] #1 closed

[2022-03-02 21:33] dtarnawsky commented on #2
Latest extension has:
- Option to uninstall packages
- Handle upgrades of @capacitor/core which require upgrading @capacitor/ios and android in unison
- Preview the app in a VS Code window instead of a browser
- For packages with scopes like @capacitor, @Ionic place them in a subfolder

As this is a catch all for issues I'll close

[2022-03-02 21:33] #2 closed

[2022-03-02 21:33] dtarnawsky commented on #8
Windows support is now in 1.0.0 of the plugin

[2022-03-02 21:33] #8 closed

[2022-03-02 21:35] dtarnawsky opened #9 "Feature Request & Issues with the VS Code Extension"
This repo contains all feature requests and Issues with the Visual Studio Code extension. If you are looking for answers on building Ionic projects please visit [Ionic Support](https://ionic.io/support).

[2022-03-09 21:44] dtarnawsky opened #10 "Debugging Support in VS Code IDE"
The option to Run on Web, iOS and Android should allow debugging in the VSCode IDE (capturing console, allowing inspection, network, etc). At the moment you would need to attach to the device using Safari or Chrome Inspect.

[2022-03-09 21:56] dtarnawsky opened #11 "Splash Screen and Icon setting"
It's pretty common to want to customize the Splash Screen and Icon for a project. It would be great to have a centralized place to set the splash screen and icon and have them modified in the native project. Integrating cordova-res would work.

[2022-03-11 00:50] cherry-tom opened #12 "Error inspecting project"
error inspecting project: Invalid Version: null

not sure what else you would need to debug but heres the package.json deps

  "dependencies": {
    "@agm/core": "^3.0.0-beta.0",
    "@angular/cdk": "^13.2.6",
    "@angular/common": "^13.2.6",
    "@angular/core": "^13.2.6",
    "@angular/forms": "^13.2.6",
    "@angular/platform-browser": "^13.2.6",
    "@angular/platform-browser-dynamic": "^13.2

[2022-03-11 01:00] dtarnawsky commented on #12
Hey @cherry-tom, is this a public project or one you could share privately? The extension uses the [capacitor configure](https://github.com/ionic-team/capacitor-configure) project for version detection and I think the problem may like there but would need access to source to investigate if you are willing to share.

[2022-03-11 01:03] ghost commented on #12
it's private but willing to share. whats the email?

[2022-03-11 01:06] dtarnawsky commented on #12
[email redacted] Taking this one private.

[2022-03-11 02:00] reslear opened #13 "Mono Repo Support for pnpm"
pnpm monorepo not working, only root

[2022-03-11 04:48] dtarnawsky commented on #13
Thanks for the suggestion @reslear. Do you have a sample pnpm monorepo I could use to test with? I've used nx and lerna but would like to see if pnpm could be supported.

[2022-03-11 12:25] reslear commented on #13
hi @dtarnawsky https://github.com/reslear/ionic-vue-pnpm-monorepo

[2022-03-11 13:12] dtarnawsky opened #14 "Support for Windows when running the remove cordova feature"
Remove Cordova (mv config.xml config.xml.bak)...
'mv' is not recognized as an internal or external command,
operable program or batch file.

[2022-03-11 14:15] dtarnawsky commented on #12
Hi @cherry-tom ,

Thanks for sharing the project and bug report. Using the error logged (Which are visible via Help -> Toggle Developer Tools) I was able to find that the error is caused when finding an npm package who latest version tag isn't a valid semver version number. The error is now correctly handled and your project should be able to be inspected now. Also, the stack trace showed you were

[2022-03-11 14:16] dtarnawsky commented on #14
This issue has been resolved in v1.1.1 released today!

[2022-03-11 14:17] dtarnawsky commented on #11
The feature for splash screen and icon generated is available in the v1.1.0 release.

[2022-03-11 14:17] #11 closed

[2022-03-11 14:17] #14 closed

[2022-03-11 15:26] dtarnawsky commented on #13
Thanks for the repo @reslear, I took a little look at it and pnpm in general.  I've put this on the roadmap to include pnpm support (in general) as well as monorepo support. This may take a little bit of time to investigate.

[2022-03-11 15:41] reslear commented on #13
@dtarnawsky use universal solutions like https://www.npmjs.com/package/ultra-runner , no source code to offer

[2022-03-11 21:07] baffioso opened #15 "Cannot find Angular "super" template"
Tried to create "super" project
<img width="244" alt="image" src="https://user-images.githubusercontent.com/7534153/157965542-9c481243-4f52-467e-a59e-7c1de077664d.png">

But get this error
<img width="457" alt="image" src="https://user-images.githubusercontent.com/7534153/157965141-517f6fb6-42c3-4b3f-84e0-cf41e374fe82.png">

[2022-03-11 21:17] dtarnawsky commented on #15
Thanks for the bug report @baffioso !

I can see where the issue is, this template should get filtered out as it was for Ionic 2/3. Expect a fix for this in the 1.1.2 release.

[2022-03-11 21:23] #12 closed

[2022-03-12 14:14] dtarnawsky commented on #15
@baffioso, 1.1.2 is released so i'll close out this issue.

[2022-03-12 14:14] #15 closed

[2022-03-14 07:30] ChrsCrss commented on #10
Adding configurable browser launch options would be great, like `--remote-debugging-port=9222 --user-data-dir=temp --disable-web-security` for chrome. This should be sufficient at least for debugging on web.

[2022-03-15 10:57] muuvmuuv commented on #13
This is, in general, not working for any Monorepo solution. We are working with [NX](https://nx.dev/angular/component) and [NXTend](https://nxtend.dev/docs/capacitor/overview).

[2022-03-16 18:14] dtarnawsky commented on #13
Hey @muuvmuuv , NX is on the roadmap to support as well as its reasonably popular.

[2022-03-16 20:01] marlon-ionic opened #16 "Ability to copy code snippets to clipboards and navigate to file references"
For menu items that provide code snippets and/or mention specific project files, there should be options to:

- copy the suggested code to the system clipboard
- open any referenced file in a new tab.

As an example, I saw the following 'Recomendation':

It would be more convenient to give users the ability to copy the pertinent block of code by clicking a button. Highlighting the text in the info

[2022-03-18 14:53] dtarnawsky commented on #16
Hey @marlon-ionic , for these types of messages I've usually been lazy and hadn't written a migration to fix the problem. So, in 1.2.1 I've fixed this particular problem, when a Cordova project where `AndroidXEnabled` is not true it will have a `"Fix config.xml"` button which applies the fix to `config.xml`.

[2022-03-18 14:53] #16 closed

[2022-03-18 17:07] csurbier commented on #9
Hi,

is it possible to use this vscode plugin with already existing Ionic projects ? I'm managing lot of ionic apps (i'm a freelance mobile app developer) and it should be useful.

Thanks
Christophe

[2022-03-18 17:22] dtarnawsky commented on #9
Hey @csurbier , yes you can use it for existing Ionic projects: If you have the project open in VS Code then just click the Ionic icon on the side menu and it will give you all the options for your project.

Please note that at the moment if you use a monorepo like NX or Lerna that it is not supported yet but that should come soon.

[2022-03-18 17:43] csurbier commented on #9
thanks for the reply. Ok i got it. I need to have only one ionic directory opened in my Vscode to see the options. (i was using a workspace with multiple ionic projects in it).

Thanks for the help and this amazing plugin !

[2022-03-20 15:35] dtarnawsky commented on #13
@muuvmuuv NX is now supported in the 1.3.0 pre-release of the extension. You can get this version by choosing "Install Pre-Release" as shown below:
<img width="481" alt="pre-release" src="https://user-images.githubusercontent.com/84595830/159170180-f94da330-45c5-4d64-8698-01295c179812.png">

I renamed this ticket to be specific to pnpm.

[2022-03-20 15:36] dtarnawsky opened #17 "Monorepo support for Nx"

[2022-03-20 15:36] dtarnawsky commented on #17
Released as part of 1.3.0

[2022-03-20 15:36] #17 closed

[2022-03-22 13:06] ramonsan opened #18 "Support for other shells"
I am on MacOS 12.2.1 , and since macOS 10.15 zsh is de default shell, replacing bash.

When I run any command with this extension an error pops ups saying `/bin/sh` not found npx. Integrated terminal of VS Code works fine with zsh shell.

There is no options in the extension configuration to set an alternative shell.

Should be interesting to use the integrated terminal of VS Code, or add an optio

[2022-03-22 13:42] dtarnawsky commented on #18
Hi @ramonsan, what is the exact error message?
What version of node do you have installed?

The reason I ask is that all commands are run using node's `child_process.exec`. If a version of Node cannot be found you'll get errors.

[2022-03-22 15:14] ramonsan commented on #18
Node version is v14.17.0.

When I try run any command, it says

[code]

But npx works fine on zsh and bash shells on integrated terminal.

[2022-03-22 15:51] colin-om opened #19 "Support for multiple environments"
It would be great to have the ability to select different configurations/environments when building the app, similar to the 'select a device' menu when running on iOS or Android.

[2022-03-22 16:10] dtarnawsky commented on #18
@ramonsan Can you run `echo $path` on the command line and report back your path. If you have an older version of node that did not include `npx` then you would get this error message. `npx` came with `npm` version 5.2.0 and after. You can install a later version of npm using: `npm install -g npm`. You can report back the version of npm with `npm -v`.

[2022-03-22 19:38] ramonsan commented on #18
`npm` is installed, and `npm -v` works in both bash and zsh.`npm` version is 8.4.1.

My path:
[code]

[2022-03-23 13:56] HunSpeedi opened #20 "Upgrade all not working"
Hi guys!

When I select the `Light Bulb` icon next to a scoped package to allow upgrading of all packages, nothing happens :confused:
When I click on the package that should be updatable I also do not see the update button:
![image](https://user-images.githubusercontent.com/17490804/159715747-b739f8ad-0138-41f0-a309-fcd1a5d81aff.png)

Also, I do not have the `Capacitor` option to run the project o

[2022-03-23 23:57] dtarnawsky commented on #20
Hi @HunSpeedi, let me take a look. I can see a problem with it and will get it fixed for the next release.

[2022-03-24 00:13] dtarnawsky commented on #19
Could you elaborate a little @colin-om? Do you mean for Angular based projects where you have a prod and dev build?

[2022-03-24 00:19] dtarnawsky commented on #18
It's quite challenging to reproduce this issue. @ramonsan could you try something for me. Remove your node_modules using `rm -rf node_modules` then if you look in the VS code extension it should give a recommendation of "Install Node Modules". Click that and it should run `npm install` . If this works when we know that the path for `npm` is good and it is `npx` that is missing.

(Sorry for the bac

[2022-03-24 08:05] timeisgolden opened #21 "npx: command not found"
Hello, Guys!!!
When I select 'Run on Web', I am getting the following error.
<img width="1536" alt="image" src="https://user-images.githubusercontent.com/54345950/159869866-d8579cf3-81db-46e6-911c-9ee8c6a9efeb.png">
My project is based on Capacitor.
Do you have any suggestions?

[2022-03-24 08:22] HunSpeedi commented on #20
Hi @dtarnawsky, thank you very much!! :)

[2022-03-24 09:37] colin-om commented on #19
Hi @dtarnawsky, exactly that yes, sorry I thought I mentioned Angular in the issue but looks like I missed it. In the angular.json you can have any number of different build configurations with fileReplacements, and this would be great to have access to when building from the plugin, as it could be much more than just dev and prod builds https://angular.io/guide/build#configure-target-specific-fil

[2022-03-24 14:19] dtarnawsky commented on #21
Hi @timeisgolden , Can you confirm you have npm installed?
You can test this by running this at the command line:
`/usr/local/bin/npx -v`

It should return a version number.
If you don't have npm installed it will be installed when you run the installer from [nodejs.dev](https://nodejs.dev/)

[2022-03-24 15:26] ramonsan commented on #18
I solved it changing the default shell of npm scripts to zsh.

`npm config set script-shell /bin/zsh`.

Now, all commands run smoothly.

[2022-03-24 15:26] #18 closed

[2022-03-24 16:26] dtarnawsky commented on #18
Awesome @ramonsan . I was wondering if you had an alternate shell set previously? Running `npm config get script-shell` would return what was set. The reason I ask is that for a normal setup the `script-shell` will be `null` and it should just work. But if your `script-shell` was set to something else then it is something I can detect in the extension and offer advice to anyone who runs into this.

[2022-03-25 00:40] dtarnawsky commented on #20
Hi @HunSpeedi , this issue is now fixed in the 1.3.2 pre-release. You can grab pre-releases from Extensions -> Ionic, choose the drop down arrow and Install Pre-Release. 1.3.2 should be out in the next few days assuming no issues reported with the pre-release.

[2022-03-25 00:40] #20 closed

[2022-03-25 00:43] dtarnawsky commented on #19
Hey @colin, this feature is now available in the 1.3.2 Pre-release available now. An icon next to Build appears with three dots (...) that allows you to select the type of build to create. It grabs the build configuration from your `angular.json`.

1.3.2 should be available to the public in a day or two assuming no major issues are found.

[2022-03-25 00:43] #19 closed

[2022-03-25 12:30] ramonsan commented on #18
`script-shell` was `null` before I set zsh. Extension was using `/bin/sh` by default with this configuration.

I have `$PATH` set in .bashrc, and .zshrc is sourcing .bashrc.

What I have thought is maybe there is a specific zsh configuration in .bashrc that I have added later, being not valid for bash, causing it to not read the config file correctly. In this case it would be my fault.

[2022-03-25 12:47] sachingarg05 opened #22 "Doesn't work if ionic app is in a sub-folder"
Most of our repos have /server, /scripts, /app etc folders with ionic app inside the /app folder. Currently extension only offers to create a new project.

Instead of only supporting specific monorepo setups, it might be better to add a workspace level configuration option to specify path of ionic app in the vscode workspace folder.

[2022-03-25 13:00] dtarnawsky commented on #22
Hey @sachingarg05 , where do you keep your `package.json`? in the root folder or the `/app` folder?

[2022-03-25 13:02] sachingargtech commented on #22
Yes, ionic's package.json is usually in /app folder.

But overall there are multiple package.json files. Inside /server and also in /app folder, or there might be multiple ionic projects in /user-app and /admin-app, etc...

[2022-03-25 13:04] dtarnawsky commented on #21
Hey @timeisgolden , another user found that if you have your $PATH set to .bashrc then you may need to run the following to get npm to run in zsh:
`npm config set script-shell /bin/zsh`

Try it out and let me know.

[2022-03-25 13:11] dtarnawsky commented on #22
Ok, I think that it's possible to detect this. Sort of a mono-repo but each folder is individual and nothing shared. I'll add it to the feature list. In the meantime you would need to open the folder that contains your app.

[2022-03-25 13:59] timeisgolden commented on #21
Hi, Thanks for your reply,
yeah, it returned a version number from the path on terminal.
<img width="541" alt="image" src="https://user-images.githubusercontent.com/54345950/160135069-c9a7e641-dcdd-4ca8-b001-3875d026c71a.png">

[2022-03-25 14:04] timeisgolden commented on #21
yeah, I tried this, but got same issue.

[2022-03-25 14:23] timeisgolden opened #23 "There is no way to stop a running daemon(Run On Web)"
After 'Run On Web' tapped, it launched at http://localhost:8100.
but there is no button to stop the running.
Furthermore, I closed the editor(vscode), but it was launching at http://localhost:8100, It's saying that it's running in the thread.
is it a missing feature?

[2022-03-25 14:34] adeprez opened #24 "Support for workspaces"
Thank you for the extension. I use VSCode workspace for my Ionic (and others) projects. The Ionic extension works well but it process only the first project in the list.

It would be great if there was a setting to define which project to use, or, even better, detect each Ionic project in the directory and make them roots of the Ionic UI extension tree.

[2022-03-25 16:38] Rainshard opened #25 "Project Missing "Capacitor" Section"
Attached are screenshots of a new project with a "Capacitor" section and our existing project without the "Capacitor" section.
We have a "Capacitor Migration" section but it doesn't have an "Add Capacitor Migration" choice.
We already use Capacitor (maybe that's why?) but it'd be nice to have the "Capacitor" section with "Run On Android" and "Run On iOS".

![new Proj](https://user-images.githubuse

[2022-03-25 19:06] dtarnawsky commented on #25
Hi @Rainshard , when you run the "**Remove Cordova**" option the additional features for Capacitor will appear. The extension doesn't handle scenarios where your project looks like it is both Capacitor and Cordova based.

[2022-03-25 19:11] dtarnawsky commented on #23
Hi @timeisgolden , you can click on the task in the bottom toolbar and click Cancel. However, its been noted that people don't notice this, so a new feature has been added which you can get in the Pre-Release version which adds a "Stop" button to help make it more obvious how to shut down the development web server (or if you are running tests in watch mode).

So, grab the pre-release version now,

[2022-03-25 19:15] timeisgolden commented on #23
Thanks, @dtarnawsky

[2022-03-26 00:37] markeames opened #26 "Is it a bad idea to support Webstorm / IntelliJ?"
VS code is popular, but I personally prefer Webstorm and given it continues to do well presumably others do too. I build all mobile apps with ionic so it would nice to see if the plugin for Webstorm could be made available

[2022-03-26 01:41] dtarnawsky commented on #24
Hi @adeprez, adding this feature right now. It will detect subfolders and should allow selection if they contain an Ionic Angular, React or Vue project.

[2022-03-26 06:59] HunSpeedi commented on #20
Hi @dtarnawsky!
I see the upgrade all button now, but when I press it, in the output tab I see the following:
![image](https://user-images.githubusercontent.com/17490804/160228645-d180ce40-2265-4fa7-8817-cc965a40827f.png)
But after this, I would expect my package.json file to be updated, and no such thing has happened :(

Also still do not see the update button when I click on the package that sho

[2022-03-26 14:03] dtarnawsky commented on #20
Hi @HunSpeedi, there were a couple of additional fixes for this and now 1.4.1 is out. This should resolve the problem with the Upgrade all option. So I'll close out this issue.

For your Capacitor option: it will detect if you have the packages `cordova-android` or `cordova-ios` in your `package.json` or if you have a `cordova` section in your `package.json`. Make sure these are removed. If you ar

[2022-03-26 14:04] #25 closed

[2022-03-26 14:05] dtarnawsky commented on #24
@adeprez, folder based monorepos are now supported in 1.4.1. It works by searching at least one subfolder down for Ionic based projects. Grab the latest version of the extension and try it out. Any issues or suggestions please open another issue. For now I'm closing out this one.

[2022-03-26 14:05] #24 closed

[2022-03-26 14:07] dtarnawsky commented on #22
@sachingarg05, folder based mono repos are now supported in 1.4.1. It works by searching at least one subfolder down for Ionic based projects. Grab the latest version of the extension and try it out. Any issues or suggestions please open another issue. For now, I'm closing out this one.

[2022-03-26 14:07] #22 closed

[2022-03-26 14:08] dtarnawsky commented on #23
@timeisgolden, v1.4.1 is now released and has more obvious support for stopping the "run on web" option (a nice "stop" button you can click). I'll close out this issue.

[2022-03-26 14:08] #23 closed

[2022-03-26 14:11] dtarnawsky commented on #10
Version 1.4.1 now has a "debug" button for the Run on Web option which will launch a debugging session into either Chrome (default) or (MS Edge). For now I'll close out this issue. Roadmap has a plan for debugging for iOS and Android but these are much bigger topics.

@neonish, take a look at 1.4.1 and see if the debug for web option meets your needs.

[2022-03-26 14:11] #10 closed

[2022-03-26 14:15] dtarnawsky commented on #26
Hey @markeames, it's not a bad idea to support Webstorm but the development of this extension has taken a lot of time. Before considering Webstorm I'll like to see how much support there is for it. Let's get people clicking the thumbs-up emoji to see how many people want this.

For now though you can always fire up the VS code IDE to clean up your project before switching back over to Webstorm.

[2022-03-27 00:53] jreviews opened #27 "npm WARN npm npm does not support Node.js v8.9.4"
I am able to run everything manually on mac os terminal and vscode terminal, but I get this error when using the ionic extension.

Part of the log below:

[code]

When running the following command in vscode terminal

[code]

The path given is `/Users/me/.nvm/versions/node/v14.17.0/bin/node` which is different than what the extension is using. `/usr/local/bin/node` seems to be in fact an older ver

[2022-03-27 01:59] dtarnawsky commented on #27
Hey @jreviews, Can you try setting the default node in the command prompt:
`nvm alias default 14.17.0`

Alternatively, you can install node from https://nodejs.dev/. nvm seems to keep the default node version as the first one you installed ever.

[2022-03-27 21:44] jreviews commented on #27
Thanks @dtarnawsky

I had tried the first option before without success. I ended up renaming the system node file and replacing it with a symlink to the nvm path and that seems to work.

It'd be great if the extension would automatically check the "which node" path and use the output to execute the npm commands rather than the system default. Or at least have an option for setting the node path in

[2022-03-27 21:44] #27 closed

[2022-03-28 00:36] aaronksaunders commented on #10
Pointer on how to reconfigure to not use   chrome by default? Or should I open another issue?

[2022-03-28 04:53] redders166 opened #28 "Only Option For New Projects"
On installing the extension, in my workspace where I have one Ionic/Angular project. I can only see the 3 options for 'New Angular/React/Vue Project' none of the other advertised options.

Steps I have taken to try to resolve.

- Disable/re-enable in the workspace
- Uninstall and reinstall
- VSCode restart
- Machine restart

Any help would be much appreciated, the tool looks incredible and I need

[2022-03-28 08:13] philkonick commented on #10
@dtarnawsky Works great for me.

Is there a way to launch debugging in chrome in an existing window like Run in Web? Instead of launching in a new window without the default user context.

[2022-03-28 14:29] dtarnawsky commented on #28
Hi @redders166, if you open the folder that contains your Ionic/Angular project does it work?

The extension will show the options for a new project if the folder doesn't contain a package.json, and doesn't contain a subfolder with a package.json.

If your Ionic/Angular project is multiple subfolders away from the root folder then it won't see your project.

[2022-03-28 14:36] dtarnawsky commented on #10
Hey @aaronksaunders, If you click Settings you can change the default browser for debugging from Chrome to Edge.

[2022-03-28 14:48] dtarnawsky commented on #10
Hey @philkonick, the browser (Chrome or Edge) needs to be launched with the parameters: `--remote-debugging-port=9222 --user-data-dir=remote-profile` for it to be debuggable in VS Code. This will launch a separate browser instance if the current one doesn't support remote debugging. The Chromium team describe this [here](https://blog.chromium.org/2011/05/remote-debugging-with-chrome-developer.html

[2022-03-28 15:22] redders166 commented on #28
Thanks for the reply, I can confirm this works if I close the workspace and open the folder directly. Not Ideal but understandable and can be worked around, support for workspaces in a future update would be welcomed. Thanks again!

[2022-03-28 15:27] dtarnawsky commented on #28
Hey @redders166 , are you able to describe your folder structure from the root folder?

The extension supports a few different styles of mono-repos (npm workspaces, NX, folders) and we could extend it to support more.

[2022-03-28 18:41] redders166 commented on #28
Thanks @dtarnawsky , its pretty standard. I have VSCode setup with a workspace that has 7 repos added, one of those is "BoxMate Ionic" and in there in the root is a package.json then the usual ionic.config.json, src, www etc.

[2022-03-28 18:58] dtarnawsky commented on #28
@redders166, what does the folder structure look like? Something like this?:
Root Folder
+--- BoxMate Ionic

Or is the "BoxMate Ionic" folder in a deeper subfolder from the root?

[2022-03-28 19:10] redders166 commented on #28
@dtarnawsky folder configuration is as below:

- Codebase
- - Other Repo Name
- - Other Repo Name
- - Other Repo Name
- - BoxMate Ionic
- - - www
- - - package.json
- - - ionic.config.json

Then the VSCode setup is a workspace with BoxMate Ionic and the other Repos manually added to the workspace too. The workspace is **not** everything that is in the Codebase folder. Codebase is not actually seen

[2022-03-28 21:34] dtarnawsky commented on #28
Hi @redders166 , can you check your extension is on version 1.4.1 or higher?

v1.4.1 introduces folder based mono repos like what you described and should work in your scenario. If you are on 1.4.1 and still having problems and can share your project then I can take a look at why it isn't working for you.

[2022-03-28 22:53] ghost commented on #17
I'm receiving the following error when an Ionic app is split into libs using Nx.
"The "path" argument must be of type string. Received an instance of Object"
example: https://github.com/cherry-tom/nx-ionic-angular

[2022-03-29 05:19] redders166 commented on #28
@dtarnawsky yes I am on 1.4.1 (Updated 2 days ago), im afraid however that sharing the project isn't really an option due to permission. If you could let me know anything else to check in the project however I can do that, really appreciate the help

[2022-03-29 14:42] dtarnawsky commented on #17
Thanks for the repo @cherry-tom , looks like for NX the workspace.json can either have simple folders or complex objects that have a root property with the folder name. So, I've fixed this in v1.4.3 and it will correctly read the list of NX projects to get past that error.

[2022-03-29 22:52] aaronksaunders opened #29 "Editing Window Losing Focus When Running Application"
When I use the Run On Web Command in the side navigation panel, the terminal window that up gets updated as the application is recompiled.

If I am typing when the terminal is getting updated, the editor window is losing focus and it makes it impossible to run the app in "watch" mode and work.

I just retested the issue on the latest release

[2022-03-30 19:39] dtarnawsky commented on #29
Hey @aaronksaunders, I'll get this fixed in the next release (should be ready in a day or two).

[2022-03-31 00:53] dtarnawsky commented on #21
Hey @timeisgolden, v1.4.4 is out now and it adds an option to set your shell in Settings. You can choose /bin/zsh and this should switch from /bin/sh which is the default to zsh. Hopefully, this fixes your issue.

[2022-03-31 00:55] dtarnawsky commented on #29
Hey @aaronksaunders , this issue should now be fixed in the v1.4.4 release. If you already have the Output window in view it will not change the focus, so you can edit your code in peace, save and see the change in the app without having to refocus on the code.

[2022-03-31 00:55] timeisgolden commented on #21
@dtarnawsky Thanks so much.
I will try again.

[2022-03-31 00:59] dtarnawsky commented on #28
Hey @redders166, If you can share an approximation of your project folder structure. Just replace your app with a starter app for Ionic. It should still cause the same problem. The folder structure is the more important part of reproducing the issue.

[2022-03-31 15:00] HerniHdez opened #30 "Focus on "output" window every time it rebuilds the project"
After updating yesterday to the latest version it does something very strange, when I type some code and it auto-rebuilds the project, it changes the focus to the "output" window, so I spend more time clicking to return to the code than writing it.

![image](https://user-images.githubusercontent.com/51020632/161086509-683fb310-1318-4bd1-baa3-7566dc0003f8.png)

If you need to see an online demo jus

[2022-03-31 15:30] dtarnawsky commented on #30
Hi @HerniHdez, can you verify that you are using version 1.4.4 of the extension?

Also, the check to see if the output window is already focused does this check:
`.document?.uri?.scheme == 'output')`

I'm wondering where the issue relates back to language as it looks like your output window is named salida.

[2022-03-31 16:05] HerniHdez commented on #30
Hello,

Yes, I have the version 1.4.4 installed, and yes I have the VSCode language set to "Spanish".
![image](https://user-images.githubusercontent.com/51020632/161096523-69df2584-e87a-4588-acb5-76567664e3dc.png)

And yes, I have the VSCode language set to "Spanish", can be that?

Not sure how to execute the check, but I know the "output" window is focus because after losing the focus on the code

[2022-03-31 21:33] dtarnawsky commented on #30
Hi @HerniHdez , I tested VS code in Spanish, what I found was that if you had an item like "Terminal" focused previously then the focus would change to "Output", but if you had "Output" already focused then the focus would not be lost from the editor. Let me know if this is the case.

[2022-04-04 11:21] HerniHdez commented on #30
Hi @dtarnawsky, that was not the problem, I saw that behavior before and I think it may be logical.

I'm trying to reproduce it again without success, I'm not sure if I was running more than one "ionic serve" from the extension, but as I told you it hasn't happened again... weird. I'll keep messing around to see if I can figure it out.

[2022-04-05 05:32] FrozenKoi opened #31 "Sidebar changes to Ionic's panel without user interaction"
Sometimes the sidepanel changes to the Ionic pane without user interaction.

For example I could have the Search pane open and be typing in an editor, when suddenly the Search pane switches to the Ionic pane and steals focus. So what I'm typing is now entered into the Ionic panel instead of the code editor.

I haven't been able to determine what exactly triggers this. At first I thought I was pres

[2022-04-05 13:41] dtarnawsky commented on #30
HI @HerniHdez, this specific scenario is now fixed in 1.4.4 but there was scenario where multiple tasks like "ionic serve" could be launched causing some odd behavior like this - that problem is fixed in 1.5.0 which is now in "pre-release" and you can install manually from the extension marketplace. For now, I'll close this issue. If you are able to reproduce the issue then please do reply.

[2022-04-05 13:41] #30 closed, assigned to nobody

[2022-04-05 13:45] dtarnawsky commented on #31
Hi @FrozenKoi , when debugging for the web the side panel will switch to the debug view. When you finish debugging your app it will return back to the Ionic side panel. I think this is what you are noticing: it is the only place in the extension where it will switch the side panel view.

[2022-04-05 14:26] FrozenKoi commented on #31
Then maybe it's some other interaction that is causing this. I have seen it switch from a different pane in the Primary Side Bar to the Ionic pane, and also seen the Primary Side Bar switch from closed to open and in the Ionic pane.

(I tried restarting VS Code and not doing a failed sign/login; still seeing that switch to Ionic).

For example if I'm in this state (sorry that I'm not showing more

[2022-04-09 16:00] scorpion81 opened #32 "Error when trying to initialize a new ionic project"
Just creating a new folder, activating this extension (ionic 6 cli is installed) makes a little popup with an error message appear in the bottom right corner. /bin/sh Line 1: ionic not found. Seems in one of the scripts of this extension ionic is not found ?!
Running ionic in the integrated terminal of VS Code (bash) works perfectly fine.

I am using VS Code 1.66 under Manjaro linux, both release

[2022-04-09 18:11] dtarnawsky commented on #32
hi @scorpion81 ,

We've just fixed this issue in version 1.5.2 released today. The reason for this is that you don't have @ionic/cli installed globally with npm, however in 1.5.2 you no longer need to, it will use a internal copy of @ionic/cli unless you have one installed locally. Please try out 1.5.2 and let me know if you have any issues.

[2022-04-09 18:11] #32 closed

[2022-04-09 18:12] #21 closed

[2022-04-09 18:28] scorpion81 commented on #32
hi @dtarnawsky, thank you for the quick response and the fix :)
But unfortunately another error happens now. "Cannot read properties of undefined, reading @ionic/cli"
![Bildschirmfoto von 2022-04-09 20-23-54](https://user-images.githubusercontent.com/1172149/162586996-19459fe2-b4cb-4678-bbec-bb27f395439d.png)
I additionally entered afterwards "which ionic" into vs code's terminal in order to show

[2022-04-09 21:56] mlynch opened #33 "Tips for setting ANDROID_SDK_ROOT?"
I tried to run my app on Android and ran into the issue below (extension version: 1.5.2):

<img width="1904" alt="image" src="https://user-images.githubusercontent.com/11214/162592739-820a5b99-4a89-488e-aa4c-9f933b3fae11.png">

I often have to set this value locally, but perhaps a way to provide or auto-detect this value in the extension could be helpful? Also if I set this environment variable in

[2022-04-09 21:56] dtarnawsky commented on #32
Hey @scorpion81, 1.5.3 should fix that error (was testing with cached data and missed that). Hopefully, this fixes the problem for you.

[2022-04-09 22:05] dtarnawsky commented on #33
Interesting, when a task a run (using child_process.exec) it inherits all environment variables (process.env) and these should include everything that was set by your shell. As I use zsh these come from the .zshenv and my file includes the usual things you would need to get your terminal building Android stuff:
[code]
The extension allows you to set your shell in settings and I wonder if you were

[2022-04-09 22:23] scorpion81 commented on #32
Hey @dtarnawsky thanks again :) Now it is working perfectly for me.

[2022-04-10 14:46] dtarnawsky commented on #33
In the 1.5.5 pre-release if you do not have ANDROID_HOME set then the extension will select a default for you, similarly with the Android Debug Bridge (which is required for debugging Android Web Views).

[2022-04-10 22:53] phathuynh5519 opened #34 "[Critical bug] Extension doesnt start if VSCode is installed in other drivers [D,E,F,G,H ... Z]"
Folks, we love your work, please help investigate below logs and fix the bug asap
[code]
[code]

![image](https://user-images.githubusercontent.com/59623591/162643361-5d9e3ea3-8f34-4c79-9826-6208658bb67e.png)

[2022-04-11 07:08] jansgescheit opened #35 "Support for multiple targets (iOS)"
For testing of new features we build on our Ionic / Capacitor App on a Staging Target and push theses to an other appId to Apple Test Flight.

In this Extension i can only choose one appId, in my case it's our staging appId. I don't know how i can change it. In our `capacitor.config.ts` the `ios.scheme` is set to our production scheme.

[2022-04-11 14:10] dtarnawsky commented on #34
Thanks for the bug report Paul @phathuynh5519, this issue should now be fixed in 1.5.8 released this morning. Be sure to update and then restart VS Code.

[2022-04-11 14:12] dtarnawsky commented on #33
With 1.5.8 now out if you do not have ANDROID_HOME set then the extension will select a default for you, similarly with the Android Debug Bridge (which is required for debugging Android Web Views). I'll close out this issue for now.

[2022-04-11 14:12] #33 closed

[2022-04-13 14:55] danielehrhardt opened #36 "yarn support"
Could you add yarn support?
Maybe selection or if there is no package-lock.json and a yarn.lock use yarn.

[2022-04-13 20:41] dtarnawsky commented on #36
Hi @danielehrhardt ,

Yarn support is ready to go! You can get it in the v1.5.9 pre-release. If you go to your extensions tab, choose Ionic and click the down arrow next to install you can choose to install the pre-release.
![Screen Shot 2022-04-13 at 1 27 11 PM](https://user-images.githubusercontent.com/84595830/163266560-2b72cfe4-fc20-424b-a98d-e37bd5527e7a.png)

Give it a go. v1.5.9 is likely t

[2022-04-13 20:41] #36 closed

[2022-04-14 13:16] dtarnawsky commented on #35
Hi @jansgescheit, do you have a sample project you could share? It can be sent to damian@ionic.io

[2022-04-14 23:20] dtarnawsky commented on #13
@reslear, pnpm and pnpm workspace support is now added to version 1.5.11 which you install the **pre-release**. This version is expected to go out to all early next week. If you find any issues with the pre-release do not hesitate to connect back up, and thanks for providing the sample repo!

[2022-04-14 23:20] #13 closed

[2022-04-15 13:45] dtarnawsky commented on #28
Closing out this issue. Any problem with this style of monorepo just needs a sample set of folders and package.json files for reproduction.

[2022-04-15 13:45] #28 closed

[2022-04-20 11:19] stefanrybacki opened #37 "Dont nag for login or account creation in the sidebar or at least dont auto activate/focus the sidebar view continiously"

[2022-04-20 12:39] matteobortolazzo opened #38 "Stop debug doesn't stop server"
Hi, I am using the latest version (1.5.13).

When I stop a debug session, the server keeps running until I close VS Code.
So if I press Debug on the web again, it starts on a new port, causing issues with CORS.

Is there a way to manually stop it?

Thanks

[2022-04-20 13:53] dtarnawsky commented on #37
Hi @stefanrybacki,

If you login you'll stay logged and will never be nagged again. Any reason you do not want to login with an Ionic Account?

[2022-04-20 14:04] stefanrybacki commented on #37
No reason, I just installed the extension for later evaluation and it keeps stealing focus of active sidebars, so I had to disable the extension. I'd rather nit disable it but not having it constantly stealing focus.

[2022-04-20 16:20] dtarnawsky commented on #38
Hi @matteobortolazzo , would you happen to be using [Volta](https://volta.sh/)?

[2022-04-20 17:14] matteobortolazzo commented on #38
Hi, no just a new react ionic project that is running on WSL

[2022-04-20 18:24] dtarnawsky commented on #38
Aha, on Windows specifically, I'll test it out. The extension uses node's process [kill](https://nodejs.org/api/process.html#processkillpid-signal) command so perhaps there is a problem there...

[2022-04-21 10:45] cuni0716 commented on #31
Also the ionic output always returns to foreground after each save file

[2022-04-23 00:19] dtarnawsky commented on #38
Hi @matteobortolazzo,

This issue should now be fixed in 1.5.14!

[2022-04-23 00:19] #38 closed

[2022-04-23 19:56] matteobortolazzo commented on #38
Works like a charm, thanks @dtarnawsky !!

[2022-04-29 23:02] dtarnawsky commented on #37
Hi @stefanrybacki,

v1.6.2 is out and this resolves the activate/focus problem. The extension will only ever focus once when it is activated when VS Code starts up.

[2022-04-29 23:02] #37 closed

[2022-04-29 23:03] dtarnawsky commented on #31
Hi @cuni0716 and @FrozenKoi ,

1.6.2 is now out and this should be fixed. Focus will only ever happen once on the first action triggered by the Ionic Extension.

[2022-04-29 23:03] #31 closed

[2022-05-03 21:39] aaronksaunders opened #39 "Adding Capacitor To Non Ionic Project"
When adding capacitor to a project, it doesn't run ionic init. Since it doesn't run ionic init, you cannot use the plugin to actually run the application on device.

[2022-05-06 16:10] dtarnawsky commented on #39
Hey @aaronksaunders,

In 1.7.4 this should be fixed!

Thanks for the bug report.

[2022-05-06 16:10] #39 closed

[2022-05-17 21:23] dtarnawsky opened #40 "Handle Old Vue projects"
Vue projects often have a build and serve script in package.json but because they do not have ionic:serve and ionic:build then Ionic CLI commands will fail. To better support these have the extension create the ionic:serve and ionic:build script commands if serve and build exists.

[2022-05-17 21:25] dtarnawsky opened #41 "Capacitor 2 Support"
The --list  and run command are available to Capacitor 3 only. For Capacitor 2 project the error message should mention that the command is not supported by Capacitor 2 and to upgrade to Capacitor 3.

Even nicer would be a migrate option :)

[2022-05-19 01:57] coupdi opened #42 "login doesn't work on extension."
Installed the Extension, and opened the Ionic Tab, and it presents me with the Login, Sign Up, or Skip for Now.
I have an Ionic login already, so I clicked Login - it thinks for a brief second, but nothing obvious happens.  Same behavior with Sign Up.

I am able to skip, so low priority, not even sure what I can look forward to when I do login...  :)

No output, no terminal activity, no browser ta

[2022-05-19 23:56] johnbertram-github commented on #42
Same here... :-(

[2022-05-21 00:29] dtarnawsky commented on #42
Hey @coupdi and @johnbertram-github,

You should now be able to login or signup in the 1.7.7 release. Thanks for the bug report. The login option is designed to give some great new features we're planning around use of App Flow and other Ionic services.

[2022-05-21 00:29] #42 closed

[2022-05-21 16:00] johnbertram-github commented on #42
@dtarnawsky Thank you so much! Updated and away I go. The GUI is definitely something I will find useful. Thanks again for jumping on it and being so accessible!

[2022-05-21 17:32] coupdi commented on #42
that.

[2022-05-26 08:00] uniquedj95 opened #43 "Re-build the app when Run web/Android or Hot-reload with new changes"
When running the application on either web or android, The extension is loading the built app, forcing one to go back to the terminal to build the app before the extension's run command.

I think the best experience could be silently running the build command first whenever one runs the application using the extension. This will help to take into account any changes made to the application.

It wi

[2022-05-26 13:29] dtarnawsky commented on #43
When you run in Web, Android and iOS it will always build the application prior to running it.

The option to live-reload your app can be found in Settings -> Live Reload.

If you ever make a change in your IDE and save a file, the extension will also build prior to run when live reload is off.

Finally, the build command can be found under "Capacitor" so you shouldn't have to go to the command li

[2022-05-26 19:12] rgilsimoes opened #44 "Error Viewing Splash Screen & Icons"
In the Splash Screen & Icons separator selecting the "View" opens an editor with the following error:

![image](https://user-images.githubusercontent.com/20357414/170559037-1d348159-e22f-437b-be8c-a46b62ba36b4.png)

[2022-05-29 01:56] KGHawes-DeLess opened #45 "Feature Request: Ability to define skipFiles"
...for debugger, or a configuration instruction if this is already possible. Thanks!

[2022-05-29 04:35] Husnain-Aleem commented on #44
I have installed the official Ionic extension for VS Code today. But "Splash Screen & Icon" and "Configuration" options are not available in it.

![Screenshot 2022-05-29 093400](https://user-images.githubusercontent.com/80635252/170852413-e415379a-2bcc-4009-b8d3-09895ba1536c.png)

[2022-05-29 04:38] Husnain-Aleem commented on #44
I have installed the official Ionic extension for VS Code today. But "Splash Screen & Icon" and "Configuration" options are not available in it.

![Screenshot 2022-05-29 093400](https://user-images.githubusercontent.com/80635252/170852481-71ec5ea1-d9f9-49bb-8b6f-ec511831451c.png)

[2022-05-29 14:03] dtarnawsky commented on #44
hi @Husnain-Aleem, your project is a Cordova based. You'll need to migrate it to Capacitor before you can unlock features like Splash Screen / Icon asset generation as well as debugging etc.

[2022-05-29 14:38] dtarnawsky commented on #44
HI @rgilsimoes,

Thanks for the bug report Ricardo! Looks like the problem was isolated to just Windows computers. I've fixed the issue in 1.8.3 which VS Code should automatically update to. You can also check the version number in the extensions area.

[2022-05-29 15:06] #44 closed

[2022-05-29 15:37] dtarnawsky commented on #45
Thanks for the feature request @KGHawes-DeLess!

I've added this option to v1.8.4. If you go to Settings -> Advanced you'll see an option for "Debug Skip Files" where you can specify an array of glob patterns that will be used when debugging in Web or Android. An example value might be `["!**/node_modules/**","<node_internals>/**"]`

Let me know if this works well for your scenario!

[2022-05-29 15:37] #45 closed

[2022-05-29 15:40] dtarnawsky opened #46 "Feature Request: mono repo root script file runner"
When using a mono repo the list of items under "Scripts" shows only the actions for the current project. It would be great to also show the actions for root package.json as these have useful features.

[2022-05-29 18:44] rgilsimoes commented on #44
I can confirm the issue is gone! Thank you @dtarnawsky

[2022-05-31 13:38] KGHawes-DeLess commented on #45
Excellent...I didn't expect such a rapid response. Very much appreciated, thank you!!

[2022-05-31 13:49] cbetz opened #47 "Extension showing subfolder only"
We have a project that is structured like this:

root
|-- android
|-- functions
|-- |-- src
|-- |-- package.json
|-- ios
|-- src
|-- ...
|-- package.json

The Ionic project is the root project (with the `package.json` in the root). The `functions` subfolder is for Firebase functions (not an Ionic project). The extension shows only the `functions` subfolder:

<img width="253" alt="image" src="https

[2022-05-31 16:34] dtarnawsky commented on #47
Hi @cbetz,

Thanks for the bug report. This should now be fixed in 1.8.5! Theres a new rule that if non of the subfolders with package.jsons contain an Ionic app (@ionic/vue,react or angular, or @angular/core) then it will treat the folder structure as a single repo rather than mono repo.

Hopefully this fixes your problem.

[2022-05-31 16:37] #47 closed

[2022-05-31 16:44] cbetz commented on #47
Thank you for the quick reply and turnaround on this! Verified it is working with 1.8.5. Awesome extension!

[2022-06-08 08:40] mhamri opened #48 "bug: vscode extension show error allDependencies[library].startsWith is not a function"
### Ionic Framework Version

- [ ] v4.x
- [ ] v5.x
- [X] v6.x
- [ ] Nightly

### Current Behavior

when I install the ionic extension, I get this error

[code]

this prevent the extension works at all at it stay in this state
![image](https://user-images.githubusercontent.com/8991783/172017243-dffc4e28-740f-4f89-baca-d0001accceea.png)

### Expected Behavior

the vscode extension works as intended

[2022-06-08 17:08] mhamri commented on #48
closing this, the issue was in my package.json. one of the package didn't have version

[2022-06-08 17:08] #48 closed

[2022-06-09 14:49] martinmitteregger opened #49 "Option to set `--public-host`"
Currently when running the application on a device it fails because multiple network interfaces are detected. (**Ionic Extension v1.8.5**)

[code]

When running the above mentioned command manually I have to select which IP i want to use which could be bypassed by using the `--public-host` option.

[code]

I would appreciate an option where we can set the IP which should be used when running the c

[2022-06-11 16:18] dtarnawsky commented on #48
Hey @mhamri,

In version 1.8.6 I added some improved error messaging when the package.json is malformed or has unexpected data. Hopefully this should make it easier to identify the problem earlier.

[2022-06-11 16:19] dtarnawsky commented on #49
Thanks for the bug report @martinmitteregger, this problem has been fixed in 1.8.6. Now, if you have both "Live Reload" and "External IP Address" turned on and have multiple network interfaces you will be asked which one to use prior to running for web/ios/android.

Let me know if this fixes your issue!

[2022-06-14 17:59] christinaasu opened #50 "No "Capacitor" Section - Capacitor Project using Cordova Plugins"
Hello,

My project isn't displaying the Capacitor section. I saw #25 where the person had the same problem, but they also had Cordova to Capacitor migration tasks. I have no such tasks. My project does use Cordova plugins, but it is only a Capacitor project (there's no `config.xml`, etc.) and we only use Capacitor for building. Is it true that the Capacitor section will only appear if I have NO Co

[2022-06-14 20:03] dtarnawsky commented on #50
Hi @christinaasu,

The extension looks for the presence of `@capacitor/core` in your `package.json` in order to show the Capacitor options. Do you have this package installed? Maybe you could send your `package.json` to support@ionic.io with an email subject of "VS Code Extension Issue #50" ?

[2022-06-14 20:21] christinaasu commented on #50
Thanks for the reply @dtarnawsky.

We do have `@capacitor/core` in our package.json. I can just post it here:
[code]

[2022-06-14 22:05] dtarnawsky commented on #50
If you remove the "`cordova`" section of your package.json then you will see the Capacitor feature.

In a Capacitor project you will set the contact usage description in your native project.

[2022-06-14 22:10] christinaasu commented on #50
That did it. Thanks!!

[2022-06-14 22:10] #50 closed

[2022-06-14 23:09] #49 closed

[2022-06-14 23:10] #43 closed

[2022-06-27 11:11] lunedam-git opened #51 "Modify Version and Build?"
I used to be able to modify the version number and build number of the Android and IOS projects within an Ionic Capacitor project using this extension in the 'Configuration' section like in [this example](https://user-images.githubusercontent.com/84595830/159510925-6b989ac4-0ce9-445e-a578-b83b5c4be38f.gif).

This 'Configuration' section is no longer present. Any idea how I get it back? That was a

[2022-06-27 14:11] dtarnawsky commented on #51
Hi @lunedam-git,

The Configuration section will appear if you Capacitor in your project, it detects this by looking for `@capacitor/core` in your `package.json` file. In mono-repos this may be the `package.json` containing `@capacitor/ios` or `@capacitor/android`.

If you can attach a copy of your `package.json` I'd be happy to take a look to see why it isn't adding the Configuration section.

[2022-06-27 18:01] lunedam-git commented on #51
Hey @dtarnawsky ,

Thanks for getting back to me. I have `@capcitor/core` in my package.json, as well as both `@capacitor/ios` and `@capacitor/android`.

It is now showing up again so all seems well. Started appearing again after I'd removed my ios folder and then added it again with `npx add ios` following some strange pod issues after updating Xcode. Can only assume that something had gone amiss

[2022-06-27 18:01] #51 closed

[2022-06-27 18:50] dtarnawsky commented on #51
Hey @lunedam-git, I think you must have bumped into an odd scenario, where the ios folder was deleted when the extension was launched, and then needed to be refreshed when you ran `npx add ios`. If you run into anything like this then try out the refresh button on the top right corner of the side panel.

[2022-06-27 19:15] lunedam-git commented on #51
No. The IOS folder and contents was there when the config option was absent. It was later when I went to run my (Ionic) project that I found the glitch with the pods and removed then re-added IOS.

Not to worry though. Seems to be happy enough agin now.

[2022-07-04 11:10] seanli2468 opened #52 "Ionic vscode extension doesn’t work due to user name has space in nodejs path"
I installed the ionic extension in vscode recently. I created an empty folder and opened it in the extension. However, when I clicked the ionic icon, I didn’t get these three Projects in vscode - New Angular Project, New React Project and New Vue Project. Instead, I got an error that is listed in below:

node:internal/modules/cjs/loader:936 throw err; ^ Error: Cannot find module ‘c:\Users\Sean’ at

[2022-07-05 21:23] dtarnawsky commented on #52
Hi @seanli2468 ,

I was able to reproduce this issue. It appears to be an open issue with **npm**:
[https://github.com/npm/cmd-shim/issues/45](https://github.com/npm/cmd-shim/issues/45)

There is an outstanding [PR](https://github.com/npm/cmd-shim/pull/42) to fix the problem but it looks like it won't be merged as it needs to be rebased.

Your best bet may be to rename your user folder:
[https://w

[2022-07-06 10:36] seanli2468 commented on #52
I don't want to mess up with my registry. I am going to create another windows account to finish my ionic project as it is a safer way. Thanks for help anyway.

[2022-07-15 14:34] #52 closed

[2022-07-21 08:03] HeikoKanzler opened #53 "Capacitor Section: native configuration not working?"
I have a new project using Ionic React / Capacitor which works so far (runs on the device), but I recently checked the extension and the Capacitor entries are empty except the Display name.

If I want to enter something into Bundle ID (which is already in the capacitor.config.ts), the version or build number, it's not stored somewhere.
![CleanShot 2022-07-21 at 09 59 48](https://user-images.github

[2022-07-21 13:52] dtarnawsky commented on #53
Hi @HeikoKanzler,

Thanks so much for the bug report. I isolated it down to when you only add the iOS platform and not Android in a project. The problem is now fixed and has been released as part of v1.8.13 which VS Code should pick up in the next 30 minutes or so.

[2022-07-21 13:52] #53 closed

[2022-07-21 14:23] HeikoKanzler commented on #53
Awesome, thank you.

[2022-08-04 15:24] Lexpeartha commented on #40
I think it would also be really helpful to create a list of guidelines or additional customisations, so other technologies built a top of ionic can know how to benefit from working properly with the extension. For example new Vite projects have `dev` script instead of `serve`(in addition to `preview`) which was the case with vue-cli. I've tried using extension with nuxt and `nuxt-ionic` module, bu

[2022-08-06 13:45] dtarnawsky commented on #40
Hi @Lexpeartha,

I just released 1.9.3 of the extension which adds automatic detection of Vite-based projects which have the convention of using `dev`, `preview`, and `build` as the default names for scripts.

Handling of projects that were not built from Ionic starters (which have a type of `vue`, `angular` or `react`) can get a little tricky. The usual route is using the command `ionic init` whi

[2022-08-06 13:45] #40 closed

[2022-08-31 07:28] amrography opened #54 "npm and npx are not found"
![Screen Shot 2022-08-31 at 9 25 36 AM](https://user-images.githubusercontent.com/9614340/187618600-598298c7-2ef8-4a3f-8122-86b65524e167.png)

npx command isn't found when trying to run the web version. and npm not found when I am trying to run build script. I have node only via **nvm**. Is this should be the cause of the problem ? I can run all commands in normal terminal with no issues

[2022-08-31 18:49] dtarnawsky commented on #54
You may need to go to `Settings` -> `Advanced` and specify your Shell Path. eg `/bin/zsh`.

[2022-08-31 18:51] dtarnawsky commented on #41
Migrate for Capacitor 3 to 4 was added. Capacitor 2 requires manual migration and as the Play store now requires targeting Android 12 it means that Capacitor 2 is no longer a viable/supported project type.

[2022-08-31 18:51] #41 closed

[2022-08-31 19:41] amrography commented on #54
@dtarnawsky My path is correct and I can run npx on zsh with no issue

[2022-09-02 10:55] arielhasidim opened #55 "Capacitor 4 migration doesn't show in recommendations"
I use Capacitor version 3.x.x. and I want to upgrade to 4.x.x.

According to the [official announcement ](https://ionicframework.com/blog/announcing-capacitor-4-0/) I can use _"[Ionic Extension](https://ionic.link/vscode) for a 1-click migration"_, but the extension's recommendations dropdown doesn't show this option.

Furthermore, when I try to run manually `npm i -D @capacitor/cli@latest` and th

[2022-09-06 07:55] neonish opened #56 "Bug: The "path" argument must be of type string. Received undefined."
Hi!

I'm using version 1.9.4 of the plugin. When I click on "Debug" in the menu, no options are shown below and I receive the following error message: `The "path" argument must be of type string. Received undefined.`
![Bildschirmfoto 2022-09-06 um 09 06 58](https://user-images.githubusercontent.com/29614734/188576223-9688045d-cd25-4697-b759-4cacec3f98d9.png)

There is no log output with further in

[2022-09-06 08:06] ChrsCrss commented on #56
I found this error in "Log (Extension Host)":

[code]

[2022-09-08 16:35] dtarnawsky commented on #56
Do you have Android Studio installed? Windows or Mac?

The reason I ask is that the debug option uses the tool ADB (Android Debug Bridge) which is installed with Android Studio. Depending on how you have customized your installation of it the extension may not be able to find it.

[2022-09-08 16:42] dtarnawsky commented on #55
If this is a project you can share then please send a zipped copy (or link to one) to support@ionic.io and mention Damian in the title of the email. I can take a look at the project and identify the issue quickly.

Based on the message in the CLI you are probably not using npm (maybe pnpm, yarn?) or are using npm workspaces. Without some details of the project structure it isn't clear why npm outd

[2022-09-08 16:45] dtarnawsky commented on #54
If you install Node on your machine then VS code extensions like Ionic can use Node to execute commands.

[2022-09-09 14:06] ChrsCrss commented on #56
I'm on Mac OS and yes I have Android Studio installed. Is there a way to change the adb path in the extension? Or to see the exception's actual stack trace?

[2022-09-10 13:49] arielhasidim commented on #55
Thank you.
I am using npm, but I did not understand correctly that I should update Capacitor core to 4.0 before being able to migrate through VSC.

I think it's not clear enough as I understood that the "OR" is between the first two paragraphs and the next one:

<img width="741" alt="Screen Shot 2022-09-10 at 16 43 22" src="https://user-images.githubusercontent.com/23483971/189486314-81907e0e-7599

[2022-09-10 13:49] #55 closed

[2022-09-13 18:33] dtarnawsky commented on #54
Just had the same issue appear after updating to the latest 12.6 MacOs Monterey. It was resolved by restarting the mac.

[2022-09-13 18:33] #54 closed

[2022-09-16 18:11] therhenals opened #57 "Keyboard Shortcut for "Run Android""
You could implement this feature to be able to run the app from a keyboard shortcut.

[2022-09-23 15:29] dtarnawsky commented on #57
Hi @therhenals,

Thanks for the suggestion!

We've added a feature in the v1.10.0 release which allows you to run the app by pressing cmd+R (or Ctrl+R on Windows).

This will run the last platform you previously ran or will run for Web by default.

As extensions need to be activated before keyboard shortcuts work you'll need to have clicked the Ionic icon at least once in a VS Code session to allo

[2022-09-23 15:29] #57 closed

[2022-09-23 15:39] dtarnawsky commented on #56
Hi @neonish , sorry I didnt see your comment until now.

I've added a feature to allow the path to adb be overridden.
In version 1.10.1 you can go to Settings -> Advanced -> Ionic: ADB Path

[2022-09-24 21:43] ChrsCrss commented on #56
No worries! Thanks for the adaption.

I'm still getting the same message though. Are you sure "path" argument means "adb path"? Because even if adb can't be found, there still wouldn't be a type mismatch because I input a string, right?

[2022-09-26 14:16] dtarnawsky commented on #56
Hi @neonish , can you try opening dev tools: Click Help -> Toggle Developer Tools. The exception with stack trace may be there.

Before it gets to searching for ADB it will do a few checks on your project and capacitor.config.ts file. Perhaps there is a problem its not handling in your project. Is your source code sharable? If so then emailing damian at ionic dot io with a shared zip (or link to o

[2022-09-26 14:33] ChrsCrss commented on #56
Oh well, I didn't know this feature existed! Heres the full strack trace:

[code]

Apparently the extension is unable to find the WebDir-Folder in my Capacitor Config, so here's my `capacitor.config.ts`:

[code]

Unfortunately I cannot share my source code at the moment … but I've checked the`www` folder and it's indeed my output dir. Is there any way to set breakpoints in `vscode-file://vscode-ap

[2022-09-26 16:23] nprather opened #58 "Activating extension Ionic.ionic failed due to an error: command 'ionic.run' already exists"
Maybe my project/workspace has become corrupt.  The ionic extension works fine for creating a new blank project, but trying to run it on a project I've used it on before returns this error:

![image](https://user-images.githubusercontent.com/3101108/192329737-7edfc673-92e7-442f-9ee5-9b62e4c14c80.png)

[2022-09-26 12:15:09.829] [exthost] [info] ExtensionService#_doActivateExtension Ionic.ionic, sta

[2022-09-26 17:22] dtarnawsky commented on #56
Hi @neonish,

Thanks so much, that capacitor config file was enough to reproduce the issue and fix it. Looks like the extension was expecting single quotes for the webDir, so in version 1.10.2 it also handles double quotes.

Version 1.10.2 should propagate out within the next hour or so and your VS Code will auto-update. When it does the problem should disappear and you'll be able to debug again.

[2022-09-26 17:25] dtarnawsky commented on #58
This does look like the VS Code space for extension is hosed up. The first thing to try is to uninstall the Ionic extension, restart VS Code, then reinstall it.

If the problem persists then I would uninstall VS Code (keeping note of extensions you have installed) and reinstall again.

[2022-09-26 18:01] ChrsCrss commented on #56
@dtarnawsky it works like a charm! Thank you very much!

[2022-09-26 18:01] #56 closed

[2022-09-26 19:59] nprather commented on #58
Thanks for the update.  I ended up having todo the clean install of VS Code after turning off settings sync, then re-installed ionic extension and it's working!
Thanks for your help,
Nathan

[2022-09-26 20:00] #58 closed

[2022-10-05 17:06] rgilsimoes opened #59 "Cannot run any command"
I was about to upgrade some dependencies on an existing project in which I already have been using the Ionic Extension and suddenly every command did nothing.

In the VS Code main log window there is this constant error message:

![image](https://user-images.githubusercontent.com/20357414/194119112-fe0d906a-54bc-4760-a915-812bce603649.png)

![image](https://user-images.githubusercontent.com/203574

[2022-10-05 17:34] dtarnawsky commented on #59
Can you uninstall the extension. Restart VS Code, then reinstall the extension and see if the problem still exists?

[2022-10-05 18:09] rgilsimoes commented on #59
After uninstall and restarting the behaviour continues.
I've also the same issue in MacOs.

[2022-10-05 21:50] dtarnawsky commented on #59
It may be that VS Code's space is corrupt. Uninstalling and reinstalling VS Code will fix the issue.

[2022-10-06 08:35] Borongaj opened #60 "Doesn't works since 1.10.0"
No more commands respond from the panel.

I've checked with all new updates (1.10.1, 1.10.2 and 1.10.3).

Everything is working with 1.9.9.

[2022-10-06 13:17] dtarnawsky commented on #60
Can you update your @ionic/cli?
`npm install @ionic/cli --save-dev`

There was an issue with v6.20.1 that cause commands to be ignored which was just fixed in v6.20.3

[2022-10-06 20:47] rgilsimoes commented on #59
Didn't work. Rollbacked to version 1.9.9 and it is working.

[2022-10-07 00:45] adamrz opened #61 "Capacitor not recognized in an existing project"
I recently installed v1.9.9 of the plugin to vscode. However I can't seem to get it to recognize that Capacitor is already added as an integration. I've clicked "Add Capacitor Integration" but e result is that it's already added. Any suggestions?

![image](https://user-images.githubusercontent.com/1616718/194442982-60f33a19-7a24-41fd-bde3-6e75603f6fe4.png)

[2022-10-07 07:15] Borongaj commented on #60
All seems working again.

Thank you!

[2022-10-07 13:34] #60 closed

[2022-10-07 13:36] dtarnawsky commented on #61
Can you check in your package.json to see if there is a leftover `cordova` section, if you remove that it will show up like a Capacitor project.

[2022-10-11 16:00] Borongaj commented on #59
Same here, but resolved by upgrading Ionic CLI to 6.20.3.

But... same problem again since v1.10.5 extension version !

[2022-10-11 17:06] dtarnawsky commented on #59
Hi @Borongaj, v1.10.6 was just released and contains an internal version of Ionic CLI 6.20.3 which is used if the Ionic CLI is not installed in the local project. Let's see if it gets past the issue you are seeing which may be related to the issue associated with Ionic CLI v6.20.1

[2022-10-11 20:17] Borongaj commented on #59
Same problem with 1.10.6, sorry.

[2022-10-11 20:54] rgilsimoes commented on #59
Upgraded VSCode, Ionic extension and all the global CLI packages and the problem persists.

[2022-10-11 23:04] dtarnawsky commented on #59
I've tried this out with Windows 10, Intel and Silicon based macs without an issue. The error about not being able to register the command 'ionic.fix' would indicate that there is another extension with the same command name that is registered. Do you have any other ionic related extensions installed?

[2022-10-12 14:40] Borongaj commented on #59
Same here, Silicon based iMac.

I had to go back to 1.9.9.

[2022-10-12 20:40] rgilsimoes commented on #59
No, I've removed all of them.

[2022-10-19 13:12] evlist opened #62 "The Ionic side bar keeps stealing the focus"
Hi,
I have installed version v1.10.6 and the Ionic side bar keeps stealing the focus.
This might be because I have a few warnings:
![image](https://user-images.githubusercontent.com/109022/196699912-4cd2f9c0-13e1-4ceb-ad95-98181764b9c5.png)
But these are not my priority right now and this sidebar that keeps stealing the focus and hiding the file browser when need it is really too much !
Is there a

[2022-10-19 18:57] dtarnawsky commented on #62
Hi Eric,

I was wondering if you were pressing cmd/ctrl + R on the keyboard when using the file browser? or was there another trigger that you were doing when it switched focus to the Ionic extension?

[2022-10-19 20:23] evlist commented on #62
Hi Damian,
Trying to understand when that's happening I must admin I might have been exaggerating when I said "keeps stealing": I am debugging my app with a Javascript debug terminal in which I am running "npm test" and the ionic sidebar get the focus after each run.
I am having a hard time with this app, I am doing a lot of debugging and I had the feeling that the sidebar was continuously "steali

[2022-10-21 13:25] jcesarmobile opened #63 "capacitor 4 upgrade duplicates exported=true if already exists"
App that already has the `android:exported="true"` https://github.com/jcesarmobile/capacitor-migration-issue/blob/main/android/app/src/main/AndroidManifest.xml#L19

After migration it includes two `android:exported="true"`
https://github.com/jcesarmobile/capacitor-migration-issue/blob/vs-migration/android/app/src/main/AndroidManifest.xml#L13-L18

[2022-10-21 13:27] jcesarmobile opened #64 "capacitor 4 migration downgrades gradle"
If the app is already using a newer version of gradle plugin than 7.2.1 (i.e 7.3.0), the migrator downgrades to 7.2.1
https://github.com/jcesarmobile/capacitor-migration-issue/pull/1/files#diff-197b190e4a3512994d2cebed8aff5479ff88e136b8cc7a4b148ec9c3945bd65aL10

[2022-10-21 13:29] jcesarmobile opened #65 "capacitor 4 migrator adds unused variables"
It adds some variables that some plugins might need, should only update them if they exist, but not add them if they don't exist

https://github.com/jcesarmobile/capacitor-migration-issue/pull/1/files#diff-3b465cff0489a1e881341d0657f2fc4beb5ac547c2496908a50b6024ec13ce49R16-R20

[2022-10-21 15:06] jcesarmobile opened #66 "capacitor 4 migration doesn't change registerPlugin order"
In Capacitor 4 the registerPlugin should be called before super.onCreate. `npx cap migrate` command does it, see https://github.com/jcesarmobile/capacitor-migration-issue/pull/3/files#diff-8654f01de5718748d9cd6350903d38603a74eb1c42fcc9b037730275298ffc8dR11
but the vs extension doesn't.

[2022-10-24 16:58] dtarnawsky commented on #66
Resolved in 1.11.0.

[2022-10-24 16:58] #66 closed

[2022-10-24 16:58] dtarnawsky commented on #65
Resolved in 1.11.0.

[2022-10-24 16:58] #65 closed

[2022-10-24 16:58] dtarnawsky commented on #63
Resolved in 1.11.0.

[2022-10-24 16:58] #63 closed

[2022-10-24 16:58] dtarnawsky commented on #64
Resolved in 1.11.0.

[2022-10-24 16:58] #64 closed

[2022-10-24 17:58] Boyownik commented on #59
I can confirm that issue. Can't run any of the options from the side-bar. Only response I get is when I click the options icon (three dots at the end of the lines of some commands). Reverting to 1.9.9 as mentioned before fixes that for me for now.

[2022-10-24 18:02] Boyownik opened #67 "Feature: back button for preview"
Am not sure if it is already possible, but having "back"/"return" button next to "home" on preview would be nice. If it is actually possible to somehow enable it, please let me know how 😄
![obraz](https://user-images.githubusercontent.com/27145369/197594360-b0609ee9-6606-4e7f-b635-cd2db4901bc0.png)

[2022-10-24 19:58] lokize opened #68 "Problem "enoent package.json not found" in root of project"
Hi, My project hava a subfolder (like frontend) and the extension dont find package.json inside this folder, any way to make this extension to search this file and not in root path?

[2022-10-24 20:03] dtarnawsky commented on #68
Hi @lokize,

Is the folder something that you can share?

_(That way I can reproduce the problem you are having)_

[2022-10-24 20:09] lokize commented on #68
its a vue3 starter project but in ./frontend folder not root of project

[2022-10-24 21:51] dtarnawsky commented on #68
Hi @lokize ,

Here's a sample vue app that is located in a folder called frontend:
[https://github.com/dtarnawsky/cs-vue-starter](https://github.com/dtarnawsky/cs-vue-starter)

This works fine with the Extension whether you open the root folder or the frontend folder.

To reproduce your issue I'd need a sample project that has the issue.

[2022-10-24 22:18] lokize commented on #68
thanks for reply, i tried to create another project and worked fine. thank you very much!

[2022-10-24 22:18] #68 closed

[2022-10-29 10:01] Borongaj opened #69 "Run command does not take into account of specific build (based on angular environment files)"
I can build and run for a specific platform and env from command line (but without live reload).

`ng build --configuration=staging --output-hashing=none && npx cap sync ios && npx cap run ios`

Using the extension (because I need live reload option), I can build staging (from build ellipsis menu), but if I click the run button (Web, Android or iOS), a build is made, based on default env file.

Ho

[2022-10-31 22:35] dtarnawsky commented on #69
Thanks for the suggestion @Borongaj ,

Version 1.12.0 was just released and will help you with this. When selecting a build type it now displays it (eg production, staging), it will also use that configuration when running for web, iOS or Android. So, when you are using live reload it will also be using the configuration you chose in the build selection (three dots).

[2022-11-01 12:51] Borongaj commented on #69
Thank you very much @dtarnawsky !

But I still have this issue : https://github.com/ionic-team/vscode-extension/issues/59

[2022-11-01 15:37] Borongaj commented on #69
Build (staging) : ok

Run iOS :

`[ng] An unhandled exception occurred: Configuration 'staging' is not set in the workspace.`

[Screenshot](https://drive.google.com/file/d/12PTr03nD-P183oPyNVC5FoptURk4ex8i/view?usp=sharing)

[2022-11-02 06:35] zensystemlab commented on #59
How can I revert to 1.9.9?

[2022-11-02 06:39] Borongaj commented on #59
Extension panel > Ionic extension > Extension details > Uninstall button **arrow** > Install another version.

[2022-11-02 13:27] dtarnawsky commented on #59
A couple of questions for those on the thread:
1. Can you open VS Code fresh, go to Help -> Toggle Developer Tools, then click the Ionic extension and try to perform a command. Are there any exceptions in the console log?
2. Is anyone willing to do a zoom call to debug the issue? I may need to experiment with a couple of a few different debug versions of the extension to help work out the problem.

[2022-11-02 14:14] Borongaj commented on #59
- **Since v1.12.0 and a VSCode restart, now all seems to work correctly.**

But I still can see following errors in the console log.

- Blank VSCode :

`ERR [fivethree.vscode-ionic-snippets]: Langage inconnu dans 'contributes.vscode-ionic-snippets.language'. Valeur fournie : vue-html`

- Ionic projet opened :

`Activating extension 'msjsdiag.cordova-tools' failed: command 'ionic.run' already exist

[2022-11-02 16:24] zensystemlab commented on #59
Yes, I can do a Zoom call. Now the extension works only for the new projects, but doesn't work for any existing.

[2022-11-02 16:51] zensystemlab commented on #59
It is even stronger right now - I created new Ionic project (extension works fine), but after restart of VSCode extension doesn't work anymore.

I see the following error in the log:

[2022-11-02 17:42:14.099] [exthost] [error] Activating extension Ionic.ionic failed due to an error:
[2022-11-02 17:42:14.099] [exthost] [error] Error: command 'ionic.run' already exists
	at n.registerCommand (/Appli

[2022-11-02 18:19] dtarnawsky commented on #59
Looks like the extensions registered namespace of "ionic" is conflicting with other extensions like vscode-ionic-snippets.

As a resolution to this I'll go about renaming the set of commands that are registered for the extension. Stay tuned, I'll hopefully have a solution to this today...

[2022-11-02 19:28] dtarnawsky commented on #59
Version 1.12.1 was just released and renames all registered commands from "ionic" to "ionic-official" which should resolve the issues associated with the vscode-ionic-snippets extension and any other extension that uses the name ionic.* which may have conflicted.

[2022-11-02 20:52] rgilsimoes commented on #59
This fixed for me! Thank you @dtarnawsky!

[2022-11-02 20:55] dtarnawsky commented on #59
Great. I'll close out this issue!

[2022-11-02 20:55] #59 closed

[2022-11-03 12:53] Borongaj commented on #69
Seems that Run command still does not respect the build configuration.

[2022-11-03 13:39] dtarnawsky commented on #69
The error: `An unhandled exception occurred: Configuration 'staging' is not set in the workspace.` indicates that your `angular.json` file is missing the configuration `staging` from the `serve` > `browserTarget` > `configurations`:
[code]

[2022-11-03 14:30] Borongaj commented on #69
Thanks, but I already have this conf :

[code]

[2022-11-03 14:37] dtarnawsky commented on #69
If you try out this repo it has staging, production and ci: [https://github.com/dtarnawsky/cs-toast](https://github.com/dtarnawsky/cs-toast)

After selecting `staging` from the `build` menu it runs correctly for `Web`, `iOS` and `Android`.

If this repo works on your machine then I'll need a sample repo that has the problem to help any further.

[2022-11-03 15:01] Borongaj commented on #69
Thanks. All works fine.

[2022-11-03 15:03] dtarnawsky commented on #69
Ok great! I'll close out the issue.

[2022-11-03 15:03] #69 closed

[2022-11-03 19:17] piotr-cz opened #70 "Support VS Code Workspaces"
Extension doesn't pick up existing project when:
- Project is a folder of [VS Code multi-root Workspace](https://code.visualstudio.com/docs/editor/workspaces#_multiroot-workspaces)
- Project is not first in list

In this context VS Code workspaces should not be mistaken with npm workspaces.

Example worskspace `Apps.code-workspace` file:

[code]

Here only when *Ionic App* is first in list, it's p

[2022-11-05 07:36] Borongaj opened #71 "Sync command does not take into account of specific build (based on angular environment files)"
I can build, **sync** and run for a specific platform and env from command line (but without live reload).

`ng build --configuration=staging --output-hashing=none && npx cap sync ios && npx cap run ios`

Using the extension (because I need live reload option), I can build production (from build ellipsis menu), but if I click the **sync** button, a new build is made, based on default env file.

Th

[2022-11-07 15:27] dtarnawsky commented on #71
Thanks for the bug report Laurent,

This issue has been fixed in 1.12.2 which was just released.

[2022-11-07 15:36] #71 closed

[2022-11-07 15:58] Borongaj commented on #71
I still have the same problem with 1.12.2...

Output log :

[code]

[2022-11-07 16:09] dtarnawsky commented on #71
Ugh, monday mornings are killing me. I fixed and tested with Cap CLI, pnpm, nx, lerna and yarn but didn't test with a local Ionic CLI. I'll fix that and have 1.12.3 out shortly.....

[2022-11-07 18:38] dtarnawsky commented on #67
We've added a back button for the editor preview in 1.13.0!

Thanks for the suggestion @Boyownik

[2022-11-07 18:38] #67 closed

[2022-11-07 18:40] dtarnawsky commented on #61
A new feature was added in 1.13.0 that detects if your Capacitor project has Cordova settings in your `package.json` and will fix by removing them.

I'll close out this issue as it is likely resolved by this new feature.

[2022-11-07 18:40] #61 closed

[2022-11-11 04:20] TelegramUsername opened #72 "bug: VSCode Extension - Keybindings Removed"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/ionic-framework/blob/main/.github/CONTRIBUTING.md#creating-an-issue).
- [X] I agree to follow the [Code of Conduct](https://ionicframework.com/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/ionic-team/ionic-framework/issues) that already report this problem, without su

[2022-11-11 14:10] liamdebeasi commented on #72
Hey there,

This repo tracker is for bugs in the Ionic Framework codebase. Ionic VSCode Extension issues should be filed here: https://github.com/ionic-team/vscode-extension/issues. I will move this to the appropriate repo.

[2022-11-28 18:11] dtarnawsky commented on #72
Hi @TelegramUsername ,

To open up the list of keyboard shortcuts on Windows, go to File > Preferences > Keyboard Shortcuts. On macOS, go to Code > Preferences > Keyboard Shortcuts.

You should be able to find the run command from the Ionic Extension:
![keyboard-shortcuts](https://user-images.githubusercontent.com/84595830/204349949-cc685044-fdd9-4210-9729-941e8e64db9b.png)

Here you change the ke

[2022-11-28 18:12] #72 closed